.grid-container {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 5px;
  align-content: stretch;
  justify-items: center;
  text-align: center;
  background-color: #121212;
  color: #fff;
  border: 3px transparent;
}

.row-cols-2 {
  font-size: x-large;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

header .top_bar, footer, footer .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h5, h4 {
  color: #ffffff !important;
  border-bottom: 20px;
  margin-top: 40px;
  font-size: 50px;
}

.row-11 a, .row-11 p {
  color: #ffffff;
  background-color: #121212;
  transition: font size 2s;
  text-decoration: none;
  padding: 20px;
}

.row-11 p :hover {
  font-size: 18px;
  text-decoration: underline 2px #0064ff solid;
}

.row-11 a :hover {
  font-size: 18px;
  text-decoration: underline 2px #0064ff solid;
}

footer .row-12 {
  color: #aaa;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
  cursor: pointer;
  transition: 1s ease all;
  justify-content: space-between;
}

footer .row-12 :hover {
  color: #ffffff;
}

.top_bar {
  width: 90%;
  margin: auto;
}

.bottom {
  width: 90%;
  margin: auto;
}

a.activo {
  border-bottom: 3px solid #0064ff;
  border-radius: 2px;
}

.pelicula_main {
  color: #ffffff;
  font-size: 16px;
}

.header-font {
  font-size: 30px;
}

.row-cols-2 a {
  color: #ffffff;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #121212;
  padding: 30px 0;
}
header ul {
  list-style: none;
}
header ul nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 30px;
}
header ul nav a:hover,
header ul nav a .activo {
  color: #fff;
  border-bottom: 3px solid #0064ff;
  border-radius: 2px;
}

@media screen and (max-width: 800px) {
  header img {
    margin-bottom: 10px;
  }
  header .top_bar {
    flex-direction: column;
    text-align: center;
  }
  .pelicula_main {
    font-size: 14px;
  }
}
body {
  background-color: #121212 !important;
  font-family: proxima-nova, sans-serif !important;
}

.carousel-indicators {
  padding: 0 !important;
}

.grid-container img {
  width: 80%;
  border: 10px transparent;
}

.grid-container img:hover {
  width: 80%;
  border: #0064ff 4px solid;
  transition: width 2s;
  cursor: pointer;
}

footer {
  padding: 30px 0;
}
footer ul nav a {
  color: #aaa;
  font-size: 12px;
  text-decoration: none;
  margin-right: 30px;
  cursor: pointer;
  transition: 1s ease all;
}
footer ul nav a:hover {
  color: #fff;
}

row-12 i {
  padding-right: 10px;
}

.row-cols-2 img {
  --g: 3px;
  --b: 4px;
  --c: #0064ff;
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background: var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%), var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b), var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: 0.3s;
}

img:hover {
  --_p: 75%;
  filter: grayscale(0%);
}

/*# sourceMappingURL=style.css.map */
