$colores:
#0064ff,
#ffffff,
#aaa,
#121212;


$f-size:
12px,
14px,
16px,
20px,
30px,
50px;

.pelicula_main{
    color: nth($colores , 2);
    font-size : nth($f-size, 3)
}
.header-font{
    font-size: nth($f-size, 5);
}

.row-cols-2 a{
    color: nth($colores, 2);
    font-size: nth($f-size, 4);
}