$topbar: background-color #121212;
$topbar: background-color #ffffff; 
$font-size: 20px;

$borde-carrusel: 4px;
$borde-grosor: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);

$borde-carrusel-color:  #0064ff;
